body
{
    font-family: 'PT Sans', sans-serif;
    margin: 0%;
}
h1
{
    font-size: 40px;
}
h2
{
    font-size: 30px;
}
p
{
    color: gray;
}
.name-highlight
{
    color: blueviolet;
}
.half-width
{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img
{
    width: 100%;
}
.top-banner
{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section
{
    height: 500px;
    padding-bottom: 70px;
}
.link-button
{
    text-decoration: none;
    background-image: linear-gradient(45deg, salmon, orangered);
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.vision-st
{
    padding-right: 20px;
}
.mission-st
{
    padding-right: 20px;
}
.vision-highlight
{
    color: orangered;
}
.mission-highlight
{
    color: royalblue;
}
.vision-area
{
    background-image: url(images/vision-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}