body
{
    font-family: 'PT Sans', sans-serif;
    margin: 0%;
}
h1
{
    font-size: 40px;
}
h2
{
    font-size: 30px;
}
p
{
    color: gray;
}
.name-highlight
{
    color: blueviolet;
}
.half-width
{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img
{
    width: 100%;
}
.top-banner
{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section
{
    height: 500px;
    padding-bottom: 60px;
}
.link-button
{
    text-decoration: none;
    background-image: linear-gradient(45deg, salmon, orangered);
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.vision-st
{
    padding-right: 20px;
}
.mission-st
{
    padding-right: 20px;
}
.vision-highlight
{
    color: orangered;
}
.mission-highlight
{
    color: royalblue;
}
.vision-area
{
    background-image: url(images/vision-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.orange-highlight
{
    color: rgb(245, 122, 7);
}
.single-experience
{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 70%;
    background-color: white;
}
.exp-area
{
    padding-left: 65px;
}
.experience-area
{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack
{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, purple, blueviolet);
    border-image-slice: 1;
}
#soft-eng
{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,royalblue, cyan);
    border-image-slice: 1;
}
footer p
{
    text-align: center;
    font-size: 14px;
}